<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Animal</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Add New Animal</h3>
    <hr/>


    <form th:action="@{/saveAnimal}" th:object="${animal}" method="POST">

        <input type="text" th:field="*{name}" class="form-control col-4 " placeholder="Pls Enter Name" />
        <br></br>
        <input type="text" th:field="*{age}" class="form-control col-4 " placeholder="Pls Enter Age" />
        <br></br>
        <input type="text" th:field="*{type}" class="form-control col-4 " placeholder="Pls Enter Animal's Type" />
        <br></br>
        <input type="text" th:field="*{genus}" class="form-control col-4 " placeholder="Pls Enter Animal's Genus" />
        <br></br>
        <input type="text" th:field="*{explanation}" class="form-control col-4" placeholder="Pls Enter Explanation" />

        <br></br>
        <button type="submit"  class="btn btn-primary col-2">Save Animal</button>
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{ownerId}" class="form-control col-4 " placeholder="Owner Id" />


    </form>
    <hr/>
    <a th:href="@{/animals}">Return Animal List</a>
</div>

</body>
</html>